<body>
    <div class="form-group">
      <strong>Filter Schedule By:</strong>
  
      <select class="form-control"
              [(ngModel)]="filter_by">
        <option></option>  
            
        <option value="school_name">School Name</option>
        <option value="date">Date</option>
        <option value="teacher_name">Teacher Name</option>
      </select>
  
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          name="searchString"
          placeholder="Type to search..."
          [(ngModel)]="searchString"
        />
      </div>
    </div>  
  
    <table class="center">
      <thead>
          <h1>My Schedule</h1>
      </thead>
  
      <!-- Show Listings in order by date of job -->
      <tbody *ngIf="LISTINGS">
          <tr *ngFor="let listing of LISTINGS | listingsFilter : filter_by : searchString">
              <td class="school_name">{{listing.schoolName}}</td>
              <td class="subject"> {{listing.subject}} </td>
              <td class="grade"> Grade {{listing.grade}} </td>
              <td class="date and time"> {{listing.datetime}} </td>
              <td class="pay_rate"> {{listing.pay}} </td>
              <td class="teacher_name"> {{listing.teacherName}} </td>
              <td class="teacher_email"> {{listing.teacherEmail}} </td>
              <td class="schoolID">School for linking to profile {{listing.schoolID}}</td>
              <button (click)="createChat(listing.schoolID, listing.schoolName)" class="btn btn-default">Chat with {{listing.schoolName}}</button>
              <p> Lesson Plan to be added later. </p>
          </tr>
      </tbody>
  </table>
  </body>
  