<!-- <link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous"
/>
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
type="text/css"
rel="stylesheet"
/> -->

<!-- Toolbar -->
<!-- <div class="content" role="main">
  <div class="container">
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="channel_heading">
              <h4>Schools</h4>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="channels">
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_ib">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <li class="message">
              <ng-template #incoming_msg>
                <div class="incoming_msg">
                  <div class="incoming_msg_img">
                    <img
                    src="https://i.imgur.com/k2PZLZa.png"
                    alt="User avatar"/>
                  </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template #outgoing_msg>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                  </div>
                </div>
              </ng-template>
            </li>
          </div>
          <div class="type_msg">
            <form class="input_msg_write">
              <input
              type="text"
              class="write_msg"
              placeholder="Type a message"
              name="newMessage"/>
              <button class="msg_send_btn" type="button">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<head>
  <link media="all" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation-flex.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet">
</head>
<body>
  <div class="row columns">
    <div class="schools list" *ngFor="let item of listOfSchools | async">
      <button class="school-convo" name={{item.id}} (click)="pickedSchool($event)">
        {{item.name}}
      </button>

    </div>

    <input type="text" id="message" placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal" />
    <!-- <input type="file" id="file">   -->
    <div class="chat-container" *ngFor="let item of items | async">
        <p>{{item.name}}</p> <!-- want to link to profile-->
        <p>{{item.message}}</p>
      </div>
  </div>
</body>
<!-- <h1>hello!</h1> -->
