<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<div class="content" role="main">
  <div class="container">
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="channel_heading">
              <h4>Teachers</h4>
            </div>
            <div class="dropdown">
              <button class="dropbtn">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
              <button *ngFor="let listing of confirmedListings | keyvalue" class="dropdown-content" (click)="createChat(listing.value.subID, listing.value.subName)">
                {{listing.value.subName}}
              </button>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="channels" *ngFor="let item of listOfTeachers | async ">
              <button *ngIf="item.id === this.userId" id={{item.id}} class="chat_list chosen" name={{item.id}} value={{item.id}} (click)="pickedTeacher(item.id)">
                <div class="chat_people">
                  <div class="chat_ib" >
                      <h5> {{item.name}}</h5>

                  </div>
                </div>
              </button>
              <button *ngIf="item.id !== this.userId" id={{item.id}} class="chat_list" name={{item.id}} value={{item.id}} (click)="pickedTeacher(item.id)">
                <div class="chat_people">
                  <div class="chat_ib" >
                      <h5> {{item.name}}</h5>

                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="mesgs" >
          <div class="msg_history" id="msg_history">
            <li class="message" *ngFor="let item of items | async">
              <div
              *ngIf="
                  item.id !== this.schoolId;
                  then incoming_msg;
                  else outgoing_msg
                "
                ></div>
              <ng-template #incoming_msg>
                <div class="incoming_msg">
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{ item.message }}</p>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template #outgoing_msg>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>{{ item.message }}</p>
                  </div>
                </div>
              </ng-template>
            </li>
          </div>

          <div class="type_msg">
            <form class="input_msg_write" (ngSubmit)="chatSend()">
              <input
              autocomplete="off"
              type="text"
              class="write_msg"
              placeholder="Type a message"
              name="msgVal"
              [(ngModel)]="msgVal"/>
              <button class="msg_send_btn" type="button" (click)="chatSend()">
                <fa-icon [icon]="faPaperPlane"></fa-icon>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
