<header>
  <div class="container">
    <a routerLink="/" class="logo"> Substitute Helper</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/school-home">Listings</a></li>
        <li><a href="#" routerLink="/new-user">Messages</a></li>
        <li><a href="#" routerLink="/school-view-profile">Profile</a></li>
      </ul>
    </nav>
  </div>
</header>

<p>WELCOME STRIVE :)</p>

<div class="play-container">
  <button routerLink="/school-create-new-listing">Create New Listing</button>
  <button routerLink="/school-view-open-listings">View Open Listings</button>
  <button routerLink="/school-view-confirmed-listings">View Confirmed Listings</button>
</div>

