<h1 class="header">Your profile</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p> Name: {{article.name}} </p>
      <p> Email: {{article.email}} </p>
      <p> district: {{article.district}} </p>
  	  <p> subject: {{article.subject}} </p>
  	  <p> bio: {{article.bio}} </p>
  	  <p> education: {{article.education}} </p>
  	  <p> teaching experience: {{article.teaching}} </p><br>
    </div>
  </div>
  <p href="/edit-profile" routerLink="/edit-profile">Edit profile</p>
</div>
