<h1 class="header">Your profile</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p> Name: {{name}} </p>
      <p> Email: {{email}} </p>
      <p> district: {{district}} </p>
	  <p> subject: {{subject}} </p>
	  <p> bio: {{bio}} </p>
	  <p> education: {{education}} </p>
	  <p> teaching experience: {{teaching}} </p><br>
	  <p> JSON string for testing: {{userAtt}} </p>
    </div>
  </div>
  <p href="/edit-profile" routerLink="/edit-profile">Edit profile</p>
</div>
