<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<h1 class="header">Welcome, {{article.name}}!</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p> Account email: {{article.email}}</p>
      <p> District: {{article.district}} <i (click)="editItem($event, 'district')" class="fa fa-pencil"></i></p>
      <div *ngIf="editState && field == 'district'">
        <form>
          <input type="text" placeholder="Update District" id="district">
          <button (click)="updateField('district')">Submit</button>
        </form>
      </div>
      <p> School Website: {{article.website}} <i (click)="editItem($event, 'website')" class="fa fa-pencil"></i></p>
      <div *ngIf="editState && field == 'website'">
        <form>
          <input type="text" placeholder="Update School Website" id="website">
          <button (click)="updateField('address')">Submit</button>
        </form>
      </div>
      <p> Address: {{article.address}} <i (click)="editItem($event, 'address')" class="fa fa-pencil"></i></p>
      <iframe id="frame" src="" >{{addURL()}}</iframe>
      <div *ngIf="editState && field == 'address'">
        <form>
          <input type="text" placeholder="Update Address" id="address">
          <button (click)="updateField('address')">Submit</button>
        </form>
      </div>
      <p> Bio: {{article.bio}} <i (click)="editItem($event, 'bio')" class="fa fa-pencil"></i></p>
      <div *ngIf="editState && field == 'bio'">
        <form>
          <input type="text" placeholder="Update Bio" id="bio">
          <button (click)="updateField('bio')">Submit</button>
        </form>
      </div>
      <p> Other info: {{article.other}} <i (click)="editItem($event, 'other')" class="fa fa-pencil"></i></p>
      <div *ngIf="editState && field == 'other'">
        <form>
          <input type="text" placeholder="Update Other Info" id="other">
          <button (click)="updateField('other')">Submit</button>
        </form>
      </div>
      <p> Average class size: {{article.classSize}} <i (click)="editItem($event, 'classSize')" class="fa fa-pencil"></i></p>
      <div *ngIf="editState && field == 'classSize'">
        <form>
          <input type="text" placeholder="Update Avg Class Size" id="classSize">
          <button (click)="updateField('size')">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

