<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
  <div class="container">
    <a routerLink="/" class="logo"> Substitute Helper</a>
    <nav>
      <ul>
        <!-- Substitute Header --->
        <li><a *ngIf="subHeader" href="#" routerLink="/sub-home">Listings</a></li>
        <li><a *ngIf="subHeader" href="#" routerLink="/new-user">Messages</a></li>
        <li><a *ngIf="subHeader" href="#" routerLink="/sub-view-profile">Profile</a></li>

        <!-- School Header -->
        <li><a *ngIf="schoolHeader" href="#" routerLink="/school-home">Listings</a></li>
        <li><a *ngIf="schoolHeader" href="#" routerLink="/new-user">Messages</a></li>
        <li><a *ngIf="schoolHeader" href="#" routerLink="/school-view-profile">Profile</a></li>

        <li><a href="#" routerLink="{{routerLink}}" (click)="tryLogout()">{{loginstatus}}</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->