
body {
    margin: 0;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: pink;
    padding: 1em 0;
}

a {
    color: white;
    text-decoration: none;
}

a.logo {
    font-weight: bold;
}

nav {
    float: right;


}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;


}

li a {
    padding: 1em;

    &:hover {
        background: darken($primary, 10%);
    }
}

div.form-group {
    margin-top: 1em;
}

div.input-group {
    margin-left: 1em;
}

p {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

table.center {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    align-content: center;
}

thead{
    text-align: center;
}

tr {
    border: 1px solid black;
    padding: 1em;
    height: 200px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

td {
    margin: 0;
}

td.subject, td.grade {
    font-weight: bold;
    font-size: 1.2rem;
}

td.date, td.time, td.pay_rate {
    text-transform: uppercase;
    font-size: .9rem;
    flex-grow: 1;
}

td.teacher_name, td.teacher_email{
    font-size: 1rem;
}
