<body>
  <div class="form-group">
    <strong>Filter Listings By:</strong>

    <select class="form-control"
            [(ngModel)]="filter_by">
      <option></option>

      <option value="school_name">School Name</option>
      <option value="subject">Subject</option>
      <option value="grade">Grade</option>
      <option value="date">Date</option>
      <option value="time">Time</option>
      <option value="pay_rate">Pay Rate</option>
      <option value="teacher_name">Teacher Name</option>
    </select>

    <div class="input-group">
      <input
        type="text"
        class="form-control"
        name="searchString"
        placeholder="Type to search..."
        [(ngModel)]="searchString"
      />
    </div>
  </div>

  <table class="center">
    <thead>
        <h1>All Listings</h1>
    </thead>

    <!-- Show Listings in order by date of job -->
    <tbody *ngIf="LISTINGS">
        <tr *ngFor="let listing of LISTINGS | listingsFilter : filter_by : searchString">
            <td class="school_name">
              <a [routerLink]="['/school-view-profile']" [queryParams]="{ email: listing.schoolEmail } ">{{listing.schoolName}}</a>
            </td>
            <td class="subject"> {{listing.subject}} </td>
            <td class="grade"> Grade {{listing.grade}} </td>
            <td class="date"> {{listing.datetime}} </td>
            <td class="pay_rate"> {{listing.pay}} </td>
            <td class="teacher_name"> {{listing.teacherName}} </td>
            <td class="teacher_email"> {{listing.teacherEmail}} </td>
            <button *ngIf="listing.downloadURL && listing.downloadURL !== ''" (click)="downloadLesson(listing.downloadURL)">Download Lesson Plan</button>
            <button type="submit" (click)="confirmListing(listing.id)"> Confirm </button>
        </tr>
    </tbody>
</table>
</body>
